.nav{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
h1,ul,li{
    display: inline;
}
ul{
    display:inline-block;
    margin-left: 55%;
    color: gray;    
}
li:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}
li{
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
}
.search{
    padding: 20px;
    text-align: center;
}
input{
    padding: 10px;
    width: 60%;
    
}
.box{
    display: inline-block;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    width: 240px;
    background-color: white;
    border-radius: 23px;
}
.image{
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}
.box:hover{
    color: white;
    background-color: black;
}
.about{
    text-align: center;
    margin-top: 30px;
    
}
.contact{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;

}
body{
    background-color:cadetblue;
}
.searchbox{
    border-radius: 15px;
    background-color: white;
}
.box img{
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

