
button{
    background-color:white;
    color: black;
    cursor: pointer;
}
body{
    color: black;
    background-color: white;
}
.one{
    cursor: pointer;
}
.one:hover{
    background-color: orange;
}
.two:hover{
    background-color: orange;
}
.three:hover{
    background-color: orange;
}
